<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlist Recommendation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>Cloud Computing - TP2 - Playlist Recommendation</h1>
      <h2>Aluno: Jean George Alves Evangelista</h1>
      <form onsubmit="submitForm(event)">
        <div id="form-container" class="form-group">
          <div class="form-group">
            <input
              type="text"
              name="song"
              placeholder="Enter song name"
              required="required"
            />
          </div>
        </div>
        <button type="button" class="add-button" onclick="addField()">
          Add Another Song
        </button>
        <br /><br />
        <button type="submit" class="submit-button">Get Recommendations</button>
      </form>
    </div>
  </body>
</html>
